APP_KEY=base64:hkHR/FcLZ6i+8edOMNFK7TuflTHIqcG6/3LqmeKIV+Q=

# LIBRAIES_PATH=/path/to/PGEtinker/libs
# APP_PATH=/path/to/PGEtinker/app
# LANGUAGE_SERVER_PATH=/path/to/PGEtinker/language-server
# SCREENSHOT_PATH=/path/to/PGEtinker/screenshot
# WIKI_PATH=/path/to/PGEtinker/wiki
