APP_KEY=base64:hkHR/FcLZ6i+8edOMNFK7TuflTHIqcG6/3LqmeKIV+Q=
INGRESS_PORT=80

# APP_PATH=/path/to/PGEtinker/app
# LANGUAGE_SERVER_PATH=/path/to/PGEtinker/language-server
# LIBRAIES_PATH=/path/to/PGEtinker/libs
# SCREENSHOT_PATH=/path/to/PGEtinker/screenshot
# WIKI_PATH=/path/to/PGEtinker/wiki
