/node_modules

# Generated Public Files
/public/css
/public/data
/public/js
/public/fonts
/public/images

/public/mix-manifest.json
/public/css.worker.js
/public/css.worker.js.LICENSE.txt
/public/editor.worker.js
/public/editor.worker.js.LICENSE.txt
/public/html.worker.js
/public/html.worker.js.LICENSE.txt
/public/json.worker.js
/public/json.worker.js.LICENSE.txt
/public/ts.worker.js
/public/ts.worker.js.LICENSE.txt

/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
