.settings-dialog {

    .content {
        font-family: "Droid Sans Mono", "monospace", monospace;
        
        button {
            width: 100%;
            margin: .6rem 0;
            padding: .4rem;
        }

        select {
            width: 100%;
            margin: .6rem 0;
            padding: .4rem;
        }
    }
    
    .form-group {
        padding: 1rem;
        .form-label {
            font-weight: bold;
            font-size: 1.4rem;
            margin-bottom: .6rem;
        }

        .form-description {
            padding: .6rem 0;
            
            .library-version {
                display: flex;
                flex-direction: row;
                gap: 1rem;
                span:first-child {
                    width: 15rem;
                    font-weight: bolder;
                }
                
                span:first-child:after {
                    content: ": "
                }
            } 
        }

        input[type="checkbox"] {
            display: inline-block;
            width: 1.6rem;
            height: 1.6rem;
            margin-right: .6rem;
        }

        label {
            display: flex;
            font-size: 1.2rem;
            line-height: 1.6rem;
            justify-content: left;
            align-content: center;
        }
    }

    .form-group:hover {
        outline: 1px solid var(--pgetinker-settings-dialog-hover);
    }


}